.selectBox
{
    position: relative;

    display: inline-block;

    min-width: 210px;

    text-decoration: none;
}

.selectBox
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 36px;

    cursor: pointer;
    text-transform: uppercase;

    color: #fff;
    border: 0;
    outline: none;
    background: #e5173f;
}

.selectBox-label
{
    display: inline-block;

    padding: 10px 55px 10px 25px;
}

.selectBox-arrow
{
    position: absolute;
    top: 13px;
    right: 25px;

    width: 19px;
    height: 10px;

    cursor: pointer;

    background: url(select-btn.png) 0 -34px no-repeat;
}

.selectBox-menuShowing .selectBox-arrow
{
    background-position: 0 0;
}

.selectBox-dropdown-menu
{
    position: absolute;
    z-index: 9999;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 210px;
    margin: -1px 0 0 !important;

    background: #e5173f;
    -webkit-box-shadow: 2px 2px 7px #aaa;
    -moz-box-shadow: 2px 2px 7px #aaa;
    box-shadow: 2px 2px 7px #aaa;
}

.selectBox-dropdown-menu .select__option
{
    display: block;

    padding: 6px 15px;

    border-bottom: 1px solid #fff;
}

.selectBox-dropdown-menu .select__option:last-child
{
    border-bottom: 0;
}

.selectBox-dropdown-menu .select__option a
{
    line-height: 1em;

    display: block;

    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
}