@font-face
{
    font-family: 'pf_synch_proregular';
    src: url('pfsynchpro-regular-webfont.eot');
    src: url('pfsynchpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfsynchpro-regular-webfont.woff') format('woff'),
         url('pfsynchpro-regular-webfont.ttf') format('truetype'),
         url('pfsynchpro-regular-webfont.svg#pf_synch_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'pf_synch_prolight';
    src: url('pfsynchpro-light-webfont.eot');
    src: url('pfsynchpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfsynchpro-light-webfont.woff') format('woff'),
         url('pfsynchpro-light-webfont.ttf') format('truetype'),
         url('pfsynchpro-light-webfont.svg#pf_synch_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'pf_synch_probold';
    src: url('pfsynchpro-bold-webfont.eot');
    src: url('pfsynchpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('pfsynchpro-bold-webfont.woff') format('woff'),
    url('pfsynchpro-bold-webfont.ttf') format('truetype'),
    url('pfsynchpro-bold-webfont.svg#pf_synch_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'skolar_peregular';
    src: url('skolarpe_regular-webfont.eot');
    src: url('skolarpe_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('skolarpe_regular-webfont.woff') format('woff'),
         url('skolarpe_regular-webfont.ttf') format('truetype'),
         url('skolarpe_regular-webfont.svg#skolar_peregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'skolar_peitalic';
    src: url('skolarpe_italic-webfont.eot');
    src: url('skolarpe_italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('skolarpe_italic-webfont.woff') format('woff'),
    url('skolarpe_italic-webfont.ttf') format('truetype'),
    url('skolarpe_italic-webfont.svg#skolar_peitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'skolar_pesemibold';
    src: url('skolarpe_semibold-webfont.eot');
    src: url('skolarpe_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('skolarpe_semibold-webfont.woff') format('woff'),
         url('skolarpe_semibold-webfont.ttf') format('truetype'),
         url('skolarpe_semibold-webfont.svg#skolar_pesemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'skolar_pesemibold_italic';
    src: url('skolarpe_semibolditalic-webfont.eot');
    src: url('skolarpe_semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('skolarpe_semibolditalic-webfont.woff') format('woff'),
         url('skolarpe_semibolditalic-webfont.ttf') format('truetype'),
         url('skolarpe_semibolditalic-webfont.svg#skolar_pesemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}